@model SuppliersMVC.Models.SuppliersViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Groups)
        </dt>
        <dd>
            @foreach (var group in Model.Groups)
            {
                if (group.Checked)
                {
                    <div>@group.NameOfGroup</div>
                }
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit supplier", "Edit", new { id = Model.SupplierId }) |
    @Html.ActionLink("Back to list of suppliers", "Index")
</p>
